<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 1 years of experience as a software engineer, and have worked
            at both small startups and large organizations. While I'm a proficient full-stack
            developer, my expertise is in building scalable backend services using python-django and in practical applications of deep learning.
        </p>
        <p>
           I love building and solving things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving optimization problems with a simple mathematical justification.
           I'm looking for a junior individual contributor role where I can take on collaborative
           team-player responsibilites, and gain experience with my colleagues on data-architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
        <!-- todo: everything -->
		    <ul>
          <li>
            With a BTech in Mechatronics, I have a comprehensive understanding of the designing of robotic systems, embedded systems as well as understanding of the full lifecycle for software development project cycle.
          </li>
          <li>
            I have successfully designed a Robotic Hand which can be self-taught by any human using simple hand gestures, in return we can operate the taught-task via internet through Amazon Alexa Voice commands.
          </li>
          <li>
            In e-YIC - 2019 my last Year Academic Project was selected in national finals out of 122 teams nationwide.
          </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
