<section class="tout" id="interests">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Interests</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<p>
					My personal interests include:
				</p>
				<ul>
					<li>
						<b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several
						online classes, and developing new/existing practical applications with my new statistical skills.
					</li>
					<li>
						<b>Gaming & Robotics</b>. I've been an enthusiastic gamer since I was a child - but only as an engineering student was I fascinated by understanding of the underlaying hierarchy and paradigms of the higher-quality physical and virtual devices around me with the help of simple mahtematics. I like to modify and/or automate existing kits to improve my physical/virtual workspace by adding instrumentation and utility. I sometimes also like to make/design classic retro-style games to reminisce the old-times.
					</li>
					<li>
						<b>Problem Solving</b>. I live in India, home of some of the greatest mathematicians in the history. I enjoy spending weekends on solving various mathematical equations and to find out everything there is to these equations for their real life applications and also, to show/explain the beauty of nature to the world.
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Recent Projects</h3>
				<ul>
					<li>
						<!-- todo: add github repo -->
						<a href="https://youtu.be/Pii0wOFBJWE">
						<b>Gesture Designated and Voicecontrolled Robotic Hand usingElectro-Myograph Sensor</b>
						</a>:
						<br />Worked in a 4 person team to develop an Amazon Alexa controlled desktop based application using python in Raspbian(Raspberry pi). The application providesan interface to start/initialize the physical robot controlled by raspberry pi. I was responsible for designing the core architecture of the application using python and amazon alexa, as well as performing gesture recognition & 3D - depth imageprocessing using Xbox 360 Kinect in Matlab via machine learning.
					</li>
					<li>
						A linux based command-line version of the game <a href="https://en.wikipedia.org/wiki/Sudoku">Sudoku</a> can be found on my <a href="https://github.com/abhinav3398">github repositories</a> for new programmers to learn and to use it on their own projects. Or they can just play the retro-style classic Sudoku.
					</li>
				</ul>
				<h3>Other Things</h3>
				<ul>
					<li>
						Active member of the <a href="https://opensource.com/resources/what-open-source">open-source</a> community.
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>